{%
  set classes = [
  category_class ? category_class|clean_class,
  'schedule-session-category',
]
%}
<div class="schedule-view-mode-wrap">
  <div class="schedule-session-experience">
    {{ content.field_experience_level }}
  </div>
  <div class="schedule-session-title">
    {% trans %} <a href= "{{ url }}"><strong>Workshop:</strong> {{ node.label }} </a>{% endtrans %}
  </div>
  <div class="schedule-session-speaker">
    {{ author_name }}
  </div>
  <div {{ attributes.addClass(classes) }}>
    {{ content.field_session_category }}
  </div>
</div>

